@font-face {
    font-family: 'digital-clock-font';
    src: url('./clockicons.ttf');
}

.stopwatch-container {
    font-family: 'digital-clock-font';
    color: gray;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.stop-watch-header {
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
    font-weight: 300 !important;
    font-size: 40px !important;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 50px !important;
}

.stop-watch-header:after,
.stop-watch-header:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #f8f8f8;
}

.stopwatch-buttons {
    margin-top: 20px;
}

.stopwatch-button {
    margin-right: 5px !important;
    width: 95px;
    padding: 10px 0 !important;
}


.displayTime {
    font-size: 75px;
    display: inline-block;
}

.displayTime-miliSec {
    display: inline-block;
    font-size: 30px;
}

.laps-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.laps-container {
    font-family: 'digital-clock-font';
    color: rgb(65, 64, 64);
    font-size: 22px;
}